/*General Style*/
body {
  margin: 0;
  font-family: "Roboto", serif;
  background: #fff;
  color: #bbbbbb;
}

.container {
  text-align: center;
  color: #333;
}
p {
  color: #bbbbbb;
}

.card-h {
  height: 10rem;
}
.text-muted,
.num-span {
  font-size: 13px;
  align-items: center;
  display: flex;
}
/* ***1280****** */

/* *** */

/* **** */
.form-btn {
  background-color: #bd1698;
}
/* ********** */
